@model MortgageHelperModels.PropertyModels.PropertyDetail

@{
    ViewBag.Title = "Delete";
}
<br />
<h2>Delete</h2>

<h3>Are you sure you want to delete this property?</h3>
<div>
    <p>Deleting this property will delete all features and ratings associated with it. There is no way to recover a deleted property.</p>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Size, "Acres")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TimeOnMarket, "Time on Market")
        </dt>

        <dd>
            @{ 
                var temptime = (DateTimeOffset.Now - Model.TimeOnMarket);
                double temptime2;
                double temp;
                if (temptime.HasValue) { temp = temptime.Value.TotalDays;
                    temptime2 = Math.Floor(temp);
                }
                //in case of user error, will default to 0.
                else { temptime2 = 0; }

                //display temptime2 instead of model.timeonmarket!!
            }
            
            @Html.DisplayFor(model => model.TimeOnMarket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
