@model MortgageHelperModels.FeatureModels.AllDetailsListItem

@{
    ViewBag.Title = "Details";
}

<h2>All Property Info</h2>

<div>
    <p>This page contains information you have entered about your property. The top half has information you can change in Edit Property, the bottom half has information you can change in Edit Amenities.</p>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Size, "Acres")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Seller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TimeOnMarket, "List Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOnMarket)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PropertyType, "Property Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>

</div>


<div class="dl-horizontal">
    <hr />

        <dt>
            @Html.LabelFor(model => model.DistanceFromPopulace, "Miles from Population")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceFromPopulace)
        </dd>

        <dt>
            @Html.LabelFor(model => model.RoadAccess, "Road Access")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadAccess)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CityWater, "City Water")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityWater)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CityElectric, "City Electric")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityElectric)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CitySewer, "City Sewer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitySewer)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Internet, "Internet")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internet)
        </dd>

        <dt>
            @Html.LabelFor(model => model.AlternateWater, "Alternate Water")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateWater)
        </dd>

        <dt>
            @Html.LabelFor(model => model.AlternateElectric, "Alternate Electric")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateElectric)
        </dd>

        <dt>
            @Html.LabelFor(model => model.AlternateSewage, "Alternate Sewage")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateSewage)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BodyOfWater, "Watersource on Property")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyOfWater)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NearbyBodyOfWater, "Off-property Watersource")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NearbyBodyOfWater)
        </dd>
    <hr />
    
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
