@model MortgageHelperModels.FeatureModels.AllDetailsListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllDetailsListItem</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOnMarket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOnMarket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeatureID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeatureID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceFromPopulace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceFromPopulace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityElectric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityElectric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitySewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitySewer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Internet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateElectric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateElectric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateSewage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateSewage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyOfWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyOfWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NearbyBodyOfWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NearbyBodyOfWater)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
