@model IEnumerable<MortgageHelperModels.MortgageListItem>

@{
    ViewBag.Title = "Mortgage Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MortgageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Five)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fifteen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twenty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwentyFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thirty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirtyFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FortyFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fifty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sixty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SixtyFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seventy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeventyFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eighty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EightyFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ninety)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NinetyFive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MortgageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Five)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fifteen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twenty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwentyFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thirty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirtyFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FortyFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fifty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sixty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SixtyFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seventy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeventyFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eighty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EightyFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ninety)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NinetyFive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
