@model MortgageHelperModels.MortgageModels.MortgageDetail

@{
    ViewBag.Title = "Mortgage Calculator";
}

<h2>Calculate Your Morgate Rate</h2>

<div>
    <h4>Put Instructions Here</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLoanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLoanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyPayment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
